<div class="container">
    <div class="row mt-2">
      <div class="col-md-8 jumbotron">
        <h1>Single page app con Angular. Aplicación CRUD de acceso a web services REST</h1>
        <p>Incluye sistema de enrutamiento. Utilizamos PrimeNG para componentes visuales de alto nivel y Bootstrap para
          estilos generales
        </p>
        <button class="btn btn-primary" (click)="goToApp()">Ir a la aplicación</button>
      </div>
  
      <div class="col-md-4">
        <img src="/assets/angular.jpg" class="img-fluid" width="100%" />
      </div>
    </div>
  </div>